{% extends "core/base.html" %}
{% load pagination %}
{% load static %}

{% block content %}

    <div class ="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <h4>Filtrar doenças por:</h4>
                <br/>
                <h6>Nome comum, científico, cultura ou descrição:</h6>

                <!-- Formulário para filtrar doenças por texto -->
                <form method="GET">
                    <div class="input-group mb-3">
                        {{search_form.text}}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Pesquisar</button>
                        </div>
                    </div>

                    {% if search_form.text.value %}
                        {% if selected_culture_disease %}
                            <button type="button" class="btn btn-light"><a href="/herbario/{{selected_culture_disease}}">Limpar Filtro</a></button>
                        {% else %}
                            <button type="button" class="btn btn-light"><a href="/fitopatologico/">Limpar Filtro</a></button>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
        </div>


        <div class="row mt-lg-4 mt-2">
            <div class="col">
                <h5>Culturas de lavoura:</h5>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-3 ">
                <!-- Filtro por famílias de plantas daninhas -->
                <ul class="list-group d-none d-lg-block">

                    {# Verifica se o dicionário de famílias está vazio. Se sim, elemento tem classe active, se não, não a tem #}
                    {% if selected_culture == None %}
                        <li class="list-group-item active"><a href="{% url 'disease:disease' %}">Todas</a></li>
                    {% else %}
                        <li class="list-group-item"><a href="{% url 'disease:disease' %}">Todas</a></li>
                    {% endif %}

                    {# Para cada família na lista de famílias #}
                    {% for culture in cultures %}

                        {# Verifica se o dicionário das famílias na chave 'familia' corresponde a familia da lista. Se sim, elemento tem classe active, se não, não a tem #}
                        {% if selected_culture == culture.slug %}
                            <li class="list-group-item active"><a href="{% url 'disease:diseases' culture.slug %}">{{culture}}</a></li>
                        {% else %}
                            <li class="list-group-item"><a href="{% url 'disease:diseases' culture.slug %}">{{culture}}</a></li>
                        {% endif %}

                    {% endfor %}
                </ul>

                <label>
                    <select class="custom-select d-lg-none mb-3" onchange="location=this.value;">
                        {# Verifica se o dicionário de famílias está vazio. Se sim, elemento tem classe active, se não, não a tem #}

                        {% if selected_culture == None %}
                            <option selected value="{% url 'disease:disease' %}">Todas</option>
                        {% else %}
                            <option value="{% url 'disease:disease' %}">Todas</option>
                        {% endif %}

                        {# Para cada família na lista de famílias #}
                        {% for culture in cultures %}

                            {# Verifica se o dicionário das famílias na chave 'cultura' corresponde a cultura da lista. Se sim, elemento tem classe active, se não, não a tem #}
                            {% if selected_culture == culture.slug %}
                                <option selected value="#{# {% url 'herbarium:plants' culture.name %} #}">{{culture}}</option>
                            {% else %}
                                <option value="#{# {% url 'herbarium:plants' culture.name %} #}">{{culture}}</option>
                            {% endif %}

                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    {% if diseases %}
                    <!-- Cards das plantas daninhas -->
                    {% for disease in diseases %}
                    <div class="col-lg-4 col-md-6 card-col d-flex col-12">
                        <div class="card col-12">

                            <!-- Verifica a planta contém ao menos uma imagem cadastrada -->
                            {% if disease.photos.first.small_image.url %}
                                <a href="{% url 'disease:disease-detail' disease.slug %}" target="_blank"><img class="card-img-top text-center" src="{{ disease.photos.first.small_image.url }}" alt="Card image cap"></a>
                            {% else %}
                                <a href="{% url 'disease:disease-detail' disease.slug %}" target="_blank"><img class="card-img-top text-center" src="{% static 'disease/images/aviso_pequeno.png' %}" alt="Imagem de Aviso Sobre Falta de Imagens"></a>
                            {% endif %}

                            <div class="card-body">
                                <a id="card-title" href="{% url 'disease:disease-detail' disease.slug %}" target="_blank"><h5 class="card-title">{{ disease.name_disease|truncatechars_html:20}}</h5></a>
                                <p class="card-text">{{ disease.symptoms_disease|truncatechars_html:75}}</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><small class="text-muted"><i>{{ disease.scientific_name_disease|truncatechars_html:30}}</i></small></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% else %}
                        <h6 id="message-error">Não foi possível encontrar doença(s) com o(s) filtro(s) aplicado(s). Certifique-se que selecionou a cultura correta e/ou digitou corretamente.</h6>
                    {% endif %}
                </div>

                <!-- Paginação da listagem de plantas -->
                <div class="row">
                    {% pagination %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
