{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags static %}

{% block item %}

<div class="alert alert-warning" role="alert">
    <p>- Insira todos os campos de uma condição para desenvolvimento de uma doença por vez;</p>
    <p>- Este formulário é uma <strong>solicitação</strong>. Um administrador do sistema avaliará o seu envio.</p>
    <p>- Após envio deste formulário, poderá realizar o cadastro de uma doença no campo 'Adicionar doença' contendo as condiçõespara desenvolvimento desta.</p>
</div>

{{disease_condition_form.errors}}
<form method="POST">
    {% csrf_token %}
        {{disease_char_form|crispy}}

    <p class="fw-light mt-4">Campos marcados com * são obrigatórios</p>
    <button type="submit" class="btn btn-light">Enviar</button>
</form>

{% endblock %}