{% extends 'dashboard/dashboard.html' %}
{% load static pagination %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dashboard/css/herbarium_update.css' %}"/>
{% endblock %}

{% block item %}
    <div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <h4>Visualização detalhada de solicitação de doença {{ object.new_disease.name_disease }}:</h4>
        </div>
    </div>

    <!-- Card de detalhamento de solicitação de doença -->
    <div class="card bg-light mb-12">
        <div class="card-header text-primary">Usuário: {{ object.user.username }}</div>

        <div class="card-body">

            <p class="card-text"><strong>Nome da nova doença doença: </strong>{{ object.new_disease.name_disease}}</p>
            <p class="card-text"><strong>Nome da científico da nova doença </strong>{{ object.new_disease.scientific_name_disease }}</p>

            {% if object.new_disease.complementary_scientific_name_disease %}
                <p class="card-text"><strong> Nome científico
                    complementar: </strong>{{ object.new_disease.complementary_scientific_name_disease }}</p>
            {% endif %}

            <p class="card-text"><strong>Cultura: </strong>{{ object.new_disease.culture_disease }}</p>

            {% if object.new_disease.cycle_disease %}
                <p class="card-text"><strong> Ciclo da doença: </strong> {{ object.new_disease.cycle_disease }}</p>
            {% endif %}

            <p class="card-text"><strong>Condições ambientais de
                desenvolvimento: </strong>{{ object.new_disease.condition_text_disease }}</p>

            <!--  Tabela com condições da doença -->
            <p class="card-text"><strong>Condições de desenvolvimento para sistema de alarmes: </strong></p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        Nome da condição
                    </th>
                    <th>
                        Valor
                    </th>
                </tr>
                </thead>

                <tbody>
                {% for condition in object.new_disease.condition_set.all %}
                    <tr>
                        <td scope="row">{{ condition.characteristic }}</td>
                        <td scope="row">{{ condition.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

            <p class="card-text"><strong>Manejo: </strong>{{ object.new_disease.management_disease }}</p>

            <p class="card-text"><strong> Regiões de ocorrência: </strong>{{ object.new_disease.occurrence_regions_disease.all|join:', ' }}</p>

            <p class="card-text"><strong>Sintomas: </strong>{{ object.new_disease.symptoms_disease }}</p>

            <p class="card-text"><strong>Referências: </strong>{{ object.new_disease.source_disease }}</p>

        </div>
    </div>

{% endblock %}
{% block scripts %}
    <!-- Scripts Biblioteca ElevateZoom -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

    <script src="{% static 'herbarium/js/gallery.js' %}"></script>
{% endblock %}