{% extends 'dashboard/dashboard.html' %}
{% load static pagination %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dashboard/css/herbarium_update.css' %}"/>
{% endblock %}

{% block item %}

    <div class="d-flex justify-content-between mb-4">
        <h5>Lista de características cadastradas</h5>

        <!-- Botão para cadastramento de novas características -->

    <a id="{% if link == 'disease_char_solicitation' %}selected-link{% endif %}" href="{% url 'accounts:disease_char_solicitation' %}">
        <button id="new_plant" type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Atualizar características">
           Adicionar uma característica <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </a>

    </div>

    {% if characteristics %}

        <table class="table table-striped mb-4">
            <thead>
            <tr>
                <th scope="col">Nome da característica</th>
                <th scope="col">Tipo de característica</th>
                <th scope="col">Operador relacional</th>
                <th scope="col">Ação</th>
            </tr>
            </thead>
            <tbody>

            {% for characteristic in characteristics %} {# Loop na lista de solicitações #}

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ characteristic.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Excluir item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Deseja excluir '{{ characteristic.char_name }}'?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>

                          <!-- Formulário para deletar objeto (doença) -->
                          <form method="post" action="{% url 'accounts:delete_char' characteristic.slug %}">{% csrf_token %}
                            <input type="submit" value="Confirmar exclusão" class="btn btn-danger">
                          </form>

                      </div>
                    </div>
                  </div>
                </div>


                <tr id="{{characteristic.char_name}}">

                    <td scope="row">{{characteristic.char_name|truncatechars_html:40}}</td>
                    <td>{{characteristic.get_char_kind_display|truncatechars_html:30}}</td>
                    <td>{{characteristic.get_char_relationals_display|truncatechars_html:30}}</td>

                    <td>
                        <a href="{% url 'accounts:detail-char' characteristic.slug %}" id="plant_view" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Visualizar característica">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a  href="{% url 'accounts:char_update' characteristic.id%}" id="plant_update" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Atualizar característica">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-danger" data-toggle="modal" id="plant_delete" data-target="#exampleModal{{characteristic.id}}" title="Excluir característica" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>

    <div>
        {% pagination %}
    </div>

    {% else %}
        <div class="alert alert-warning" role="alert">
        Nenhuma característica cadastrada no momento.
        </div>
    {% endif %}

{% endblock %}