{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block item %}
    {% if solicitations %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Usuário</th>
                <th scope="col">Nome da nova planta</th>
                <th scope="col">Nome científico</th>
                <th scope="col">Ação</th>
            </tr>
            </thead>
            <tbody>
            {% for solicitation in solicitations %} {# Loop na lista de solicitações #}
                <tr id="{{ solicitation.id }}">
                    <td scope="row">{{ solicitation.user.username|truncatechars_html:20 }}</td>
                    <td>{{ solicitation.new_plant.name|truncatechars_html:30 }}</td>
                    <td>{{ solicitation.new_plant.scientific_name|truncatechars_html:30 }}</td>
                    <td>
                        <a href="{% url 'accounts:solicitation_update' solicitation.id %}" class="btn btn-info"
                           data-bs-toggle="tooltip" data-bs-placement="bottom" title="Visualizar solicitação">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <button type="button" class="btn btn-success accept_button" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Aceitar solicitação">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-danger deny_button" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Negar solicitação">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Nenhuma solicitação para analisar no momento.
        </div>
    {% endif %}
{% endblock %}