{% extends 'dashboard/dashboard.html' %}
{% load pagination %}

{% block item %}
    {% if users %}
    <table class="table table-striped mb-4">
        <thead>
        <tr>
            <th scope="col">Nome de usuário</th>
            <th scope="col">Nome completo</th>
            <th scope="col">E-mail</th>
            <th scope="col">Ação</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %} {# Loop na lista de solicitações #}
            <tr id="{{user.id}}">
                <td scope="row">{{user.username|truncatechars_html:30}}</td>
                <td>{{user.profile.name|truncatechars_html:40}}</td>
                <td>{{user.email|truncatechars_html:50}}</td>
                <td>
                    <a id="" href="" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Visualizar usuário">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <button id="" type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Excluir usuário">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {% pagination %}
    </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
        Nenhuma planta para editar no momento.
        </div>
    {% endif %}
{% endblock %}