<ul class="list-group">
    <li class="list-group-item">
        <div class="dropdown dropright">
            <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                Perfil
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'dashboard:profile' %}">Acessar Perfil</a>
            </div>
        </div>
    </li>
    <li class="list-group-item"><a href="#">Plantas</a></li>
    <li class="list-group-item"><a href="#">Notícias</a></li>
    <li class="list-group-item"><a href="#">Usuários</a></li>
</ul>