<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            {% comment %} {% if link == 'profile' %}selected-button{% endif %} {% endcomment %}
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                    aria-controls="flush-collapseOne">
                Perfil
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
             data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul class="list-group">
                    <li class="list-group-item"><a id="{% if link == 'profile' %}selected-link{% endif %}"
                                                   href="{% url 'dashboard:profile' %}">Dados pessoais</a></li>
                    {% if perms.accounts.add_solicitation %}
                        <li class="list-group-item"><a id="{% if link == 'solicitation' %}selected-link{% endif %}"
                                                       href="{% url 'dashboard:solicitation' %}">Solicitar ser
                            contribuidor</a></li>
                    {% endif %}
                    <li class="list-group-item"><a id="{% if link == 'change-password' %}selected-link{% endif %}"
                                                   href="{% url 'dashboard:change_password' %}">Alteração de senha</a>
                    </li>
                    {#                    {% if perms.herbarium.contribute_with_plants %}#}
                    {#                        <li class="list-group-item"><a id="{% if link == 'contributions' %}selected-link{% endif %}"#}
                    {#                                                       href="{% url 'dashboard:contributions' %}">Minhas#}
                    {#                            contribuições</a></li>#}
                    {#                    {% endif %}#}
                </ul>
            </div>
        </div>
    </div>

    <!-- Seção para adicionar plantas -->
    {% if perms.herbarium.add_plant %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Herbário de plantas daninhas
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        {% if perms.herbarium.contribute_with_plants %}
                            <li class="list-group-item"><a
                                    id="{% if link == 'herbarium-update' %}selected-link{% endif %}"
                                    href="{% url 'dashboard:herbarium_update' %}">Plantas</a>
                            </li>
                        {% endif %}

                        {% if perms.herbarium.change_plant %}
                            <li class="list-group-item"><a
                                    id="{% if link == 'plant-soliciation-list' %}selected-link{% endif %}"
                                    href="{% url 'dashboard:plant_solicitation_list' %}">Solicitações de planta</a>
                            </li>

                            <li class="list-group-item"><a
                                    id="{% if link == 'photo-solicitation-list' %}selected-link{% endif %}"
                                    href="{% url 'dashboard:photo_solicitation_list' %}">Solicitações de foto</a>
                            </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Seção relacionada ao herbário fitopatológico -->
    {% if perms.disease.add_disease %}
        <div class="accordion-item">

            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Herbário fitopatológico
                </button>
            </h2>

            <!-- Seção no menu para doenças -->
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group">

                        {% if perms.disease.contribute_with_disease %}

                            <li class="list-group-item"><a
                                    id="{% if link == 'disease_update' %}selected-link{% endif %}"
                                    href="{% url 'dashboard:disease_update' %}">Doenças</a>
                            </li>

                        {% endif %}

                        {% if perms.disease.change_disease %}
                            <li class="list-group-item"><a id="{% if link == 'culture_list' %}selected-link{% endif %}"
                                                           href="{% url 'dashboard:culture_list' %}">Culturas</a>
                            </li>


                            <li class="list-group-item"><a
                                    id="{% if link == 'disease-solicitation-list' %}selected-link{% endif %}"
                                    href="{% url 'dashboard:disease_solicitation_list' %}">Solicitações de doenças</a>
                            </li>
                            <li class="list-group-item"><a
                                    id="{% if link == 'disease-photo-solicitation-list' %}selected-link{% endif %}"
                                    href="{% url 'dashboard:disease_photo_solicitation_list' %}">Solicitações defoto</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {#    {% if perms.core.add_highlight %}#}
    {#        <div class="accordion-item">#}
    {#            <h2 class="accordion-header" id="flush-headingFour">#}
    {#                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"#}
    {#                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">#}
    {#                    Notícias#}
    {#                </button>#}
    {#            </h2>#}
    {#            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"#}
    {#                 data-bs-parent="#accordionFlushExample">#}
    {#                <div class="accordion-body">Seção em produção!</div>#}
    {#            </div>#}
    {#        </div>#}
    {#    {% endif %}#}

    <!-- Seção no menu para editar colaboradores -->
    {% if perms.core.change_colaborators %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Colaboradores
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a id="{% if link == 'edit-about' %}selected-link{% endif %}"
                               href="{% url 'core:edit-about' %}">Editar colaboradores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Seção relacionada as publicações -->
    {% if perms.core.add_publication %}
        <div class="accordion-item">

            <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-headingSeven">
                    Publicações
                </button>
            </h2>

            <!-- Seção no menu para publicações -->
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a
                                id="{% if link == 'publication_update' %}selected-link{% endif %}"
                                href="{% url 'dashboard:publication_update' %}">Listar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Seção relacionada ao sistema de alarmes -->
    {% if perms.alerts.add_mathmodel %}
        <div class="accordion-item">

            <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    Alertas
                </button>
            </h2>

            <!-- Seção no menu para doenças -->
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group">

                        {% if perms.alerts.add_mathmodel %}

                            <li class="list-group-item"><a
                                    id="{% if link == 'mathmodel_update' %}selected-link{% endif %}"
                                    href="{% url 'dashboard:mathmodel_update' %}">Modelos Matemáticos</a>
                            </li>

                        {% endif %}

                        {% if perms.alerts.change_sensor %}
                            <li class="list-group-item"><a id="{% if link == 'sensor_list' %}selected-link{% endif %}"
                                                           href="{% url 'dashboard:sensor_list' %}">Sensores</a>
                            </li>
                            <li class="list-group-item"><a
                                    id="{% if link == 'sensor_human_update' %}selected-link{% endif %}"
                                    href="{% url 'dashboard:sensor_human_update' %}">Sensores Humanos</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if perms.auth.view_user %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Usuários
                </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSixs"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a id="{% if link == 'solicitation-list' %}selected-link{% endif %}"
                                                       href="{% url 'dashboard:solicitation_list' %}">Solicitações</a>
                        </li>
                        <li class="list-group-item"><a id="{% if link == 'user-list' %}selected-link{% endif %}"
                                                       href="{% url 'dashboard:user_list' %}">Cadastrados</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {% if perms.core.view_mathmodel %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwenty">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwenty" aria-expanded="false"
                        aria-controls="flush-collapseTwenty">
                    Módulos em desenvolvimento
                </button>
            </h2>
            <div id="flush-collapseTwenty" class="accordion-collapse collapse" aria-labelledby="flush-headingTwenty"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a id="{% if link == 'seila' %}selected-link{% endif %}"
                               href="{% url 'alerts:collect_data_cepadi' %}">Url cepadi</a>
                        </li>
                        <li class="list-group-item">
                            <a id="{% if link == 'seila' %}selected-link{% endif %}"
                               href="{% url 'alerts:view_graphs' %}">Grafico de modelos matematicos</a>
                        </li>
                        <li class="list-group-item">
                            <a id="{% if link == 'seila' %}selected-link{% endif %}"
                               href="{% url 'alerts:map_url' %}">Mapa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
</div>