{% extends "dashboard/dashboard.html" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-4">Painel de controle</h4>
            </div>
        </div>
        <!-- Barra lateral -->
        <div class="row mb-5">
            <div class="col-3">
                {% include "dashboard/components/sidebar.html" %}
            </div>
            <!-- Bloco conteúdo -->
            <div class="col-9 mb-5">
                {% block item %}
                    {% if message_confirmation.verified %}
                        <p>Sua conta foi verificada com sucesso!</p>
                        <p>Número de telefone: {{ message_confirmation.phone_number }}</p>

                        <p>Selecione abaixo os alertas que gostaria de receber: </p>
                        <form action="{% url 'alerts:user_alerts' %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>

                    {% else %}
                        Para verificar sua conta, envie
                        <span class="font-monospace">{{ message_confirmation.code }}</span>
                        para {{ bot_whatsapp_number }}
                        ou clique
                        <a class="text-success"
                           href="https://wa.me/{{ bot_whatsapp_number }}?text={{ message_confirmation.code }}">Aqui</a>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

