{% extends "dashboard/dashboard.html" %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-4">Painel de controle</h4>
            </div>
        </div>
        <!-- Barra lateral -->
        <div class="row mb-5">
            <div class="col-3">
                {% include "dashboard/components/sidebar.html" %}
            </div>
            <!-- Bloco conteúdo -->
            <div class="col-9 mb-5">
                {% block item %}
                    {{ status }}
                    <br>
                    <img src="{{ qr_code }}" alt="">
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

