{% extends "core/base.html" %}

{% block content %}

    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h4>O que poderei fazer após me cadastrar?</h4><br/>
            </div>
            <div class="col-12">
                <div class="alert alert-secondary mb-5" role="alert">
                    <p class="mb-0 text-justify">Neste momento, ainda estamos desenvolvendo as ações permitidas para usuários. Futuramente, seu cadastro poderá ser validado para você se tornar um(a) contribuidor(a) deste herbário virtual clicando neste <i>link</i>: <u><a href="{% url 'dashboard:create' %}">Criar uma conta de usuário</a></u>. Na lista abaixo, você pode conferir o que é possível realizar após obter um cadastro verificado pela equipe desta plataforma.</p>
                </div>

                <h6>Lista de ações permitidas para contribuidores:</h6>
                <ol>
                    <li>
                        Enviar fotos de plantas já cadastradas;
                    </li>
                    <li>
                        Solicitar a inserção de novas plantas daninhas.
                    </li>
                    
                </ol>
            </div>
        </div>
    </div>
{% endblock %}