<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>LabFito</title>

        <!-- Estilos próprios -->

        <link rel="stylesheet" href="{% static 'core/css/style.css'%}"/>

        <!-- Framework CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img id='logo' alt="Logo do LabFito" src="{%static "core/images/labfito.png" %}">
                </a>

                 <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "core:index" %}">Ínicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "herbarium:index" %}">Plantas Daninhas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="">Doenças de plantas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Insetos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:subjects' %}">Disciplinas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="">Materiais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="">Publicações</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

        <main>
            {% block content  %}

            {% endblock %}
        </main>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h6>Redes sociais do Labifito:</h6>
                        <p><i class="fa fa-facebook-official"></i> <a href="https://www.facebook.com/labifito.ifrsvacaria" target="new-blank">Facebook</a></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-9">
                        <p>Site desenvolvido pelos bolsistas do projeto de ensino "Herbário Virtual de Plantas Daninhas" Matheus Mathyas Hofman e Júlia Fonseca de Aguiar com orientação dos professores Rafael Dallegrave Negretti e Ricardo Luís dos Santos</p>

                        <p>© 2019-2020 Instituto Federal do Rio Grande do Sul - Campus Vacaria</p>
                    </div>
                    <div class="col-1">
                        <img id="footer_logo" src="{% static 'core/images/logo_ifrs2.png'%}" alt="Logo do IFRS campus Vacaria">
                    </div>
                </div>
            </div>    
        </footer>
    </body>

    <!-- Respectivamente, jQuery, Popper.js e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
