{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <div class ="container">
        <div class="row">
            <h1>Links de acesso a livros</h1>
        </div>
        <div class="row mt-4">
            {% if contents %}
                <ul class="list-group list-group-flush">
                    {% for content in contents %}
                        <li class="list-group-item">
                            <h3 class="mb-4 mt-2">Sobre {{ content }}:</h3>
                            {% for book in content.book_set.all %}
                                <div class="row mb-4">
                                    <h5>{{ book.name }}</h5>
                                    <a href="{{ book.link }}">{{ book.link }}</a>
                                </div>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
