{% extends 'core/base.html' %}

{% block content %}

<div class="container">
    <div class="row" id="saiba-mais">
        <div class="col">
            <h4>Saiba mais sobre '{{highlight}}':</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- <div class="jumbotron">
                <h1 class="display-4">Saiba mais</h1>
                <p class="lead">Aqui você encontra mais informações sobre '{{highlight}}'</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div> -->
            {{highlight.more_information|linebreaks}}
        </div>
    </div>
</div>

{% endblock %}