{% extends 'core/base.html' %}

{% block content %}
    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>
                    Disciplinas
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Fitossanidade e Agroclimatologia </td>
            </tr>
            <tr>
                <td> Culturas anuais de inverno e verão </td>
            </tr>
            <tr>
                <td> Culturas de inverno </td>
            </tr>
            <tr>
                <td> Culturas de verão </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
