{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-11">
            <h4 >Criar conta</h4><br/>
            <div class="alert alert-secondary mb-5" role="alert">
                <h6 class="alert-heading">O que eu posso fazer com uma conta de usuário?</h6>
                <hr>
                <p class="mb-0">Neste momento, ainda estamos desenvolvendo as ações permitidas para usuários. Futuramente, você poderá nos enviar fotos de plantas já cadastradas e também solicitar a inserção de novas plantas daninhas de seu conhecimento. Cadastre-se e seja nosso(a) contribuidor(a)!</p>
              </div>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        {{profile_form.name|as_crispy_field }}
                        {{form.username|as_crispy_field }}
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        {{form.email|as_crispy_field }}
                        {{profile_form.phone|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        {{profile_form.institution|as_crispy_field }}
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        {{profile_form.role|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        {{form.password1|as_crispy_field }}
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        {{form.password2|as_crispy_field }}
                    </div>
                </div>

                <p class="font-weight-light">Campos marcados com * são obrigatórios</p>
                <button type="submit" class="btn btn-light">Enviar</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}