{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-11">
            <h4 >Criar conta</h4><br/>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        {{profile_form.name|as_crispy_field }}
                        {{form.username|as_crispy_field }}
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        {{form.email|as_crispy_field }}
                        {{profile_form.phone|as_crispy_field }}
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        {{profile_form.institution|as_crispy_field }}
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        {{profile_form.role|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        {{form.password1|as_crispy_field }}
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        {{form.password2|as_crispy_field }}
                    </div>
                </div>

                <p>OBS: campos com * são obrigatórios</p>
                <button type="submit" class="btn btn-light">Enviar</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}