{% extends "core/base.html" %}
{% load crispy_forms_tags static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-7 mb-5 div_create">
                <h4 class="mb-5">Criar conta</h4>
                <form id="create_form" method="POST">
                    {% csrf_token %}
                    {{profile_form.name|as_crispy_field }}
                    {{form.username|as_crispy_field }}
                    {{form.email|as_crispy_field }}
                    {{form.password1|as_crispy_field }}
                    {{form.password2|as_crispy_field }}
                    {{profile_form.institution|as_crispy_field }}
                    {{profile_form.role|as_crispy_field }}
                    {{profile_form.phone|as_crispy_field }}

                    <!-- <div class="text-right"> -->
                        <p class="font-weight-light mt-4">Campos marcados com * são obrigatórios</p>
                        <button type="submit" class="btn btn-light">Enviar</button>
                    <!-- </div> -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Plugin Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script>
    <script src="{% static 'accounts/js/create.js' %}"></script>
{% endblock %}