{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row mb-5">
        <div class="col-6">
            <h4>Fazer login</h4><br/>
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <br/><p class="font-weight-light">Campos marcados com * são obrigatórios</p>
                <button type="submit" class="btn btn-light" name="next" value="{{ next }}">Entrar</button>
            </form>
        </div>
        <div class="col-6 d-flex align-items-center flex-column">
            <!-- <div class="card">
                <div class="card-body">
                    <h5>Não possuí uma conta de usuário?</h5><hr>
                    <p class="mb-0">Clique <b><a href="{% url 'dashboard:create' %}">aqui</a></b> para mais informações e se cadastre</p>
                </div>
            </div> -->
            <div class="alert alert-secondary" role="alert" style="width: 20rem;">
                <h6 class="alert-heading">O que poderei fazer após me cadastrar?</h6><hr>
                <p  class="mb-0">Clique <u><a href="{% url 'dashboard:info' %}">aqui</a></u> para saber o que uma conta te permite fazer</p>
            </div>
            <div class="alert alert-secondary" role="alert" style="width: 20rem;">
                <h6 class="alert-heading">Ainda não possuí uma conta de usuário?</h6><hr>
                <p  class="mb-0">Clique <u><a href="{% url 'dashboard:create' %}">aqui</a></u> para acessar o formulário de cadastro</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}