{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if form.errors %}
    <p>Seu nome de usuário e/ou senha estão incorretos. Por favor, tente novamente.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Fazer login</h4><br/>
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <br/><p>OBS: campos com * são obrigatórios</p>
                <button type="submit" class="btn btn-light" name="next" value="{{ next }}">Entrar</button>
            </form>
            <br/><br/>
            <p>Ainda não tem uma conta? Clique <b><a href="{% url 'accounts:create' %}">aqui</a></b> e se cadastre.</p>
        </div>
    </div>
</div>

{% endblock %}