SECRET_KEY = ""
HOSTNAME = "localhost"
DEBUG = True
ALLOWED_HOSTS = ["*"]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'database.sqlite3',
    }
}

# e-mail

# EMAIL_HOST =
# EMAIL_PORT =
# EMAIL_HOST_PASSWORD =
# EMAIL_HOST_USER =
# EMAIL_USE_TLS = True

# EMAIL_BACKEND =
#
# EMAIL_HOST =
# EMAIL_PORT =
# EMAIL_HOST_PASSWORD =