{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Não encontrado - Herbário Virtual</title>

    <style>
        body{
            background-image: url("{% static "core/images/bg.png" %}");
        }
    </style>

</head>
<body><br><br><br><br>
<h2 style="text-align: center; font-family: cursive; font-size: 30px; margin-top:35vh">Ops, houve um erro no servidor... <br><sub>Pedimos desculpa pelo transtorno, estamos trabalhando para melhorar sua experiência</sub></h2>

</body>
</html>