/* Estilo do template base e da página inicial */

/* Header */

/* Barra de navegação */
#logo{
    width: 140px;
}
 
nav.navbar {
    margin-bottom: 3%;
}

header.navbar {
    background-color: black !important;
}


/* Carrossel */
.container .carousel-item img  {
    width: 1100px ;
    height: 430px ;
    object-fit: cover;
}

/* Página inicial */
.col-lg-4 {
    text-align: center;
}

main .container .row {
    margin-bottom: 8%;
}

.rounded-circle {
    object-fit: cover;
}

div .btn-secondary {
    background-color: black;
}

/* Footer */
#footer_logo {
    width: 250px;
}

footer{
    background-color: #84AE84 !important;
    margin-bottom: 0;
}

footer .container {
    padding: 1%;
} 

footer a {
    color: black;
    text-decoration: underline;
}

footer ul {
    list-style: square;
}

/* Alinha a imagem do logo no centro da div */
#getdiv {
    display: flex;
    align-items: center;
}

#facebook-icon {
    font-size: 35px;
}

/* App Herbarium */

/* Tabelas*/

td, th {
    text-align: center !important;
}

table.table {
    margin-bottom: 10%;
}

/* Index */

.card-img-top {
    height: 260px !important;
    object-fit: cover;
}

.card-col {
    margin-bottom: 3% !important;
}

main .container .row {
    margin-bottom: 5% !important;
}


img.img{
    margin-left: 20px;
}

main a {
    color: black;
}

li.list-group-item {
    border-color: #84AE84;
}

li.list-group-item.active, button#button-addon2  {
    background-color: #A6DDA6;
    border-color: #84AE84;
    font-weight: bold;
}

button#button-addon2 {
    background-color: #A6DDA6;
    border-color: #84AE84;
    color: black;
    font-weight: normal;
}

/* Pode melhorar: para alinhar lista de famílias e cards */
div.col-9 div.row {
    margin-top: 3.6%;
}