{% extends 'dashboard/dashboard.html' %}
{% load static pagination %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dashboard/css/herbarium_update.css' %}"/>
{% endblock %}

{% block item %}
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-12">
                <h4 class="teste">Visualização detalhada de {{charsolicitationmodel.char_name}}:</h4>
            </div>  
        </div>

    <!-- Card de detalhamento de característica -->
        <div class="card bg-light mb-12">
          <div class="card-header">Dados sobre a característica</div>
          <div class="card-body">
              <h5 class="card-title"><strong>Nome da característica: </strong>{{ charsolicitationmodel.char_name }}</h5>
              <p class="card-text"><strong> Tipo de característica: </strong>{{ charsolicitationmodel.get_char_kind_display }}</p>
              <p class="card-text"><strong> Operador relacional de característica: </strong>{{ charsolicitationmodel.get_char_relationals_display }}</p>

              {% if charsolicitationmodel.char_tolerance %}
                  <p class="card-text"><strong> Valor de tolerância/margem de erro: </strong>{{ charsolicitationmodel.char_tolerance }}</p>
              {% endif %}
          </div>
        </div>


{% endblock %}
{% block scripts %}
    <!-- Scripts Biblioteca ElevateZoom -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

    <script src="{% static 'herbarium/js/gallery.js' %}"></script>
{% endblock %}