{% extends 'dashboard/dashboard.html' %}

{% block item %}

{% if solicitations %} {# Se existem solicitações #}
  {% for solicitation in solicitations %} {# Loop na lista de solicitações #}
    {% if solicitation.status == 'sent' %} {# Executa caso o status da solicitação seja "Enviada" #}
      <div class="card mb-3">
        <div class="card-header">
          {{solicitation.user.profile.name}}
        </div>
        <div class="card-body">
          <p class="card-text">{{solicitation.message|truncatechars_html:250}}</p>
          <a href="{% url 'dashboard:solicitation_update' solicitation.id %}" class="btn btn-secondary">Visualizar</a>
        </div>
      </div>
    {% else %} {# Executa caso o status da solicitação seja "Aceita" ou "Negada". Isto é, estas NÃO devem aparecer na lista #}
      {% if forloop.counter == solicitations|length %} {# Verifica se o número de vezes que o loop chegou ao "else" é igual ao tamanho da lista #}
        <div class="alert alert-warning" role="alert">
          Nenhuma solicitação para analisar no momento.
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

{% else %} {# Caso não exista nenhuma solicitação #}
  <div class="alert alert-warning" role="alert">
    Nenhuma solicitação para analisar no momento.
  </div>
{% endif %}

{% endblock %}