{% extends "core/base.html" %}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col">
              <h4 class="teste">Visualização detalhada de {{plant.name}}:</h4>  
          </div>  
      </div>
      <div class="row">
          <div class="col-6">
              <table class="table table-striped">
                  <thead>
                      <tr>
                        <th scope="col">Nome comum</th>
                        <td>{{plant.name}}</td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <th>Nome Científico</th>
                        <td>{{plant.scientific_name}}</td>
                      </tr>
                      <!-- <tr>
                          <th scope="row">Divisão</th>
                          <td>{{plant.family.division}}</td>
                      </tr> -->
                      <tr>
                          <th scope="row">Família</th>
                          <td>{{plant.family}}</td>
                      </tr>
                      <tr>
                          <th scope="row">Regiões de Ocorrência</th>
<!--                           <td>{{plant.occurrence_regions.states.all|join:', '}}</td> -->  
                              <td>{{plant.occurrence_regions.all|join:', '}}</td>
                      </tr>
                  </tbody>
              </table>

<!--               <p>Teste: Lista de Estados das Regiões que a planta está inserida:</p>
              {% for i in plant.occurrence_regions.all %}
              <p>Região: {{i}}</p>
              <p>Lista de Estados: {{i.states.all|join:', '}}</p>
              {% endfor %}

              <br/><br/><br/>
              <p>Teste a fazer ainda: Lista de Siglas de Estados das Regiões que a planta está inserida:</p>
              {% for i in plant.occurrence_regions.all %}
              <p>Região: {{i}}</p>
              <p>Lista de Estados: {{i.states.all.initials}}</p>
              {% endfor %} -->

              <h5>Descrição:</h5>
              <p>{{plant.description}}</p>

              <h5>Importância:</h5>
              <p>{{plant.importance}}</p>
          </div>

          <div class="col-6 div-col6">
              <div class="gallery">
                  <a href="{{plant.photos.first.image.url}}">
                      <img src="{{plant.photos.first.image.url}}" alt="" title="Foto de {{plant.name}}"/>
                  </a>
                  <a href="{{plant.photos.first.image.url}}">
                      <img src="{{plant.photos.first.image.url}}" alt="" title="Foto de {{plant.name}}"/>
                  </a>
                  <a href="{{plant.photos.first.image.url}}">
                      <img src="{{plant.photos.first.image.url}}" alt="" title="Foto de {{plant.name}}"/>
                  </a>
                  <a href="{{plant.photos.first.image.url}}">
                      <img src="{{plant.photos.first.image.url}}" alt="" title="Foto de {{plant.name}}"/>
                  </a>
                  <a href="{{plant.photos.first.image.url}}">
                      <img src="{{plant.photos.first.image.url}}" alt="" title="Foto de {{plant.name}}"/>
                  </a>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
