{% extends "core/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="teste">Visualização detalhada de {{plant.name}}:</h4>  
            </div>  
        </div>
        <div class="row">
            <div class="col-6">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Nome comum</th>
                      <td>{{plant.name}}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Nome Científico</th>
                      <td>{{plant.scientific_name}}</td>
                    </tr>
<!--                     <tr>
                      <th scope="row">Divisão</th>
                      <td>{{plant.family.division}}</td>
                    </tr> -->
                    <tr>
                      <th scope="row">Família</th>
                      <td>{{plant.family}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Estados de Ocorrência</th>
                      <td>{{plant.occorrence_states.all|join:', '}}</td>
                    </tr>
                  </tbody>
                </table>

                <h5>Descrição da planta:</h5>
                <p>{{plant.description}}</p>
            </div>

            <div class="col-6">
                <div id="carouselExampleSlidersOnly" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid" src="{{ plant.photos.first.image.url }}">
                    </div>
                </div>
<!-- 
                <br/>
                <img class="img" src="{{ plant.photos.first.image.url }}" width="150px">
                <img class="img" src="{{ plant.photos.first.image.url }}" width="150px">
                <img class="img" src="{{ plant.photos.first.image.url }}" width="150px">  -->               
            </div>
        </div>
    </div>
{% endblock %}
