{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-12">
                <h4 class="teste">Visualização detalhada de {{plant.name}}:</h4>  
            </div>  
        </div>
        <div class="row">
            <div class="col-lg-5">
                <!--  Tabela com os dados da planta -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Característica
                            </th>
                            <th>
                                Valor
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Nome comum</td>
                            <td scope="row">{{plant.name}}</td>
                        </tr>
                        <tr>
                            <td>Nome Científico</td>
                            <td><i>{{plant.scientific_name}}</i>
                                {# Verifica se o campo é nulo #} 
                                {% if plant.complementary_scientific_name %}
                                    {{plant.complementary_scientific_name}}
                                {% endif %}
                            </td>
                        </tr>
                        {% comment %}
                        <!-- <tr>
                            <td scope="row">Divisão</td>
                            <td>{{plant.family.division}}</td>
                        </tr> -->
                        {% endcomment %}
                        <tr>
                            <td scope="row">Família</td>
                            <td>{{plant.family}}</td>
                        </tr>
                        <tr>
                            <td scope="row">Regiões de Ocorrência</td>
                            {# <!-- <td>{{plant.occurrence_regions.states.all|join:', '}}</td> --> #} 
                            <td>{{plant.occurrence_regions.all|join:', '}}</td>
                        </tr>
                    </tbody>
                </table>

                {% comment %}
    <!--               <p>Teste: Lista de Estados das Regiões que a planta está inserida:</p>
                {% for i in plant.occurrence_regions.all %}
                <p>Região: {{i}}</p>
                <p>Lista de Estados: {{i.states.all|join:', '}}</p>
                {% endfor %} -->
                {% endcomment %}

                <!-- Textos informativos sobre planta -->
                <h5>Descrição:</h5>
                <p id="description">{{plant.description}}</p>

                <h5>Importância:</h5>
                <p id="importance">{{plant.importance}}</p>
            </div>

            <!-- Galeria de imagens da planta -->
            <div class="col-lg-7 galeria">
                {# Verifica se a planta contém ao menos uma imagem #}
                {% if plant.photos.first.small_image.url %}
                <!-- Imagem em destaque -->
                <div class="row">
                    {% comment %}
    <!--            <img id="zoom" class="imagem_em_destaque" src="{% static 'herbarium/images/planta_teste_pequena1.jpg' %}" data-zoom-image="{{plant.photos.first.image.url}}" width="635px;" height="430px;"> -->
                    {% endcomment %}
                    <img id="zoom" class="imagem_em_destaque" src="{{plant.photos.first.small_image.url}}" data-zoom-image="{{plant.photos.first.image.url}}" width="635px;" height="430px;">
                </div>
                <!-- Imagens miniaturas -->
                <div id="galeria" class="row miniaturas">
                    {% for photo in plant.photos.all %}
                    {# Verifica se a imagem em miniatura é a mesma que a em destaque. Em caso positivo, aplica-se um estilo css #}
                    {% if photo.image.url == plant.photos.first.image.url %}
                    <img class="imagem_miniatura imagem_selecionada" src="{{photo.small_image.url}}" 
                    data-zoom-image="{{photo.image.url}}" width="155px;" height="100px;">
                    {% else %}
                    <img class="imagem_miniatura" src="{{photo.small_image.url}}"
                    data-zoom-image="{{photo.image.url}}" width="155px;" height="100px;">
                    {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="row">
                    <div class="col-12">
                        <img class="w-100 img-fluid" src="{% static 'herbarium/images/aviso.png' %}" alt="Imagem de Aviso Sobre Falta de Imagens" style="object-fit: contain;">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <!-- Scripts Biblioteca ElevateZoom -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

    <script src="{% static 'herbarium/js/gallery.js' %}"></script>
{% endblock %}