{% extends "core/base.html" %}

{% block content %}

    <div class ="container">
        <div class="row">
            <!-- <div class="col"></div> -->
            <div class="col-6">
                <h4>Filtrar plantas por:</h4>
                <!-- Formulário para filtrar planta -->
                <br/>
                <h6>Nome comum, científico ou descrição:</h6>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Pesquisar</button>
                        </div>
                    </div>          
<!--                     <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecione
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Divisão</a>
                            <a class="dropdown-item" href="#">Família</a>
                            <a class="dropdown-item" href="#">Espécie</a>
                        </div>
                    </div> -->
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <h5>Famílias:</h5>
                <ul class="list-group">
                    {# Verifica se o dicionário de famílias está vazio. Se sim, elemento tem classe active, se não, não a tem #}
                    {% if selected_family == None %}
                    <li class="list-group-item active"><a href="{% url 'herbarium:index' %}">Todas</a></li>
                    {% else %}
                    <li class="list-group-item"><a href="{% url 'herbarium:index' %}">Todas</a></li>
                    {% endif %}

                    {# Para cada família na lista de famílias #}
                    {% for family in families %}

                    {# Verifica se o dicionário das famílias na chave 'familia' corresponde a familia da lista. Se sim, elemento tem classe active, se não, não a tem #}
                    {% if selected_family == family.name %}
                    <li class="list-group-item active"><a href="{% url 'herbarium:plants' family.name %}">{{family}}</a></li>
                    {% else %}
                    <li class="list-group-item"><a href="{% url 'herbarium:plants' family.name %}">{{family}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul> 

                <!-- <h5> Famílias Monocotiledôneas</h5> -->
<!--                 <ul class="list-group">

                    {% for family in families1 %}
                    <li class="list-group-item">{{ family }}</li>
                    {% endfor %}
                </ul> -->

                <!-- <h5> Famílias Dicotiledôneas</h5> -->
<!--                 <ul class="list-group">

                    {% for family in families2 %}
                    <li class="list-group-item">{{ family }}</li>
                    {% endfor %}
                </ul> -->
            </div>

            <div class="col-9">
                <!-- <h5>Teste</h5> -->
                <div class="row">
                    {% for plant in plants %}
                    <div class="col-4 card-col">
                            <div class="card">
                                <img class="card-img-top" src="{{ plant.photos.first.image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <a href="{% url 'herbarium:detail' plant.slug %}" target="new_blank"><h5 class="card-title">{{ plant.name }}</h5></a>
                                    <p class="card-text">{{ plant.description }}</p>
                                    <p class="card-text"><small class="text-muted">{{ plant.scientific_name }}</small></p>
                                </div>
                            </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
