{% extends "core/base.html" %}

{% block content %}

    <div class ="container">
        <div class="row">
            <!-- <div class="col"></div> -->
            <div class="col-6">
                <h4>Filtrar planta por:</h4>
                <!-- Formulário para filtrar planta -->
                <form>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecione
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Divisão</a>
                            <a class="dropdown-item" href="#">Família</a>
                            <a class="dropdown-item" href="#">Espécie</a>
                        </div>
                    </div>

                    <!-- Para implementar: assim que o usuário selecionar uma opção, aparece outro input para ampliar o filtro -->
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <h5> Famílias Monocotiledôneas</h5>
                <!-- <table class="table table-striped"> -->
<!--                     <thead>
                        <tr>
                            <th>Famílias</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for family in families1 %}
                        <tr>
                            <td>{{ family }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> -->

                <ul class="list-group">

                    {% for family in families1 %}
                    <li class="list-group-item">{{ family }}</li>
                    {% endfor %}
                </ul>

                <br/>

                <h5> Famílias Dicotiledôneas</h5>
                <!-- <table class="table table-striped">
                    <thead>
                         <tr>
                            <th>Famílias</th>
                         </tr>   
                    </thead>
                    <tbody>

                        {% for family in families2 %}
                        <tr>
                          <td>{{ family }}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
                </table> -->

                <ul class="list-group">

                    {% for family in families2 %}
                    <li class="list-group-item">{{ family }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-9">
                <!-- <h5> Plantas:</h5> --> 
                <div class="row">
                    {% for plant in plants %}
                    <div class="col-4 card-col">
                            <div class="card">
                                <img class="card-img-top" src="{{ plant.photos.first.image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <a href="{% url 'herbarium:detail' plant.slug %}" target="new_blank"><h5 class="card-title">{{ plant.name }}</h5></a>
                                    <p class="card-text">{{ plant.description }}</p>
                                    <p class="card-text"><small class="text-muted">{{ plant.scientific_name }}</small></p>
                                </div>
                            </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
