* {
    font-family: 'Arial' ,'Sans-serif';
    color: #333333;
}

header {
    background-color: #4bca2e;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

}

main {
    margin: 0px 3% 0px 3%;
}

a{
    text-decoration: none;
}

nav{
    height: 100%;
    /* o nav ta bugado ele ta maior do que deveria */
    padding: 1% 0px 1% 0px;
}



nav.pure-menu li a {
    color: white;
}

nav.pure-menu li a:hover, nav.pure-menu li a:focus {
    background-color: green;
}

#logo {
    height: 70px;
    margin: 0px 0px 0px 20px;
    float: left;

}

/* Tabela */

table {
    width: 80%;
    height: 50%;
    margin: 3% auto 3% auto;
    text-align: center;

}

th {
    background-color: limegreen;
    color: white;
    text-align: center;
}

 /* a tabela precisa de mais padding */


/* Carrosel de imagens da plantas */

.carosel_view{
    height: 480px;
    border-radius: 5px;

}

.carosel_control{

    width : 80%;

}


.slide_h {
    height: 100%;
    border-radius: 5px;

}

.slide_w {
    width: 100%;
    border-radius: 5px;

}

/* Isto se relaciona ao zoom*/
.slide_w:hover, .slide_h:hover{
     /* Talvez passar este sistema para o javascript */
    opacity: 0;
}

.slide_index {
    width:94%;
    height: 94%;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    margin: 3% 3% 3% 3%;


}

.slide_index:hover {
    opacity: 0.8;

}

.select {
    border: 2px solid #87cefa;
    border-radius: 3px;

}

.row {
    width: 100%;

}

.col {
    float:left;
    width: 70px;
    height: 70px;



}

/* zoom do carrosel */
figure.zoom_image{
    height: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 300%; /*esta será a quantidade de zoom na imagem*/
    overflow: hidden;
    border-radius: 5px;


}



/* buttons */


/* botão verde */
.green-button {
    padding: 15px 10px 15px 10px;
    border-radius: 3em;
    border: none;
    margin: 2% 2% 2% 2%;
    background-color: #4bca2e;
    color: white;
    /* verificar se não tem jeito mais fácil de fazer essa sombra */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px -2px 4px rgba(0, 0, 0, 0.2), -2px 0px 4px rgba(0, 0, 0, 0.2), 2px 0px 4px rgba(0, 0, 0, 0.2) ;
}

/* Essa animações tão um pouca feia mais ta indo */
.green-button:hover {
    background-color: #2fa515;
}

.green-button:active {
    opacity: 0.8;
    background-color: #2fa515;
}


/*------------------------ Página de listagem das plantas ---------------------------*/

.list-item{
    height: 300px;
    text-align: center;
    margin: 3% 3% 3% 3%;
}

.list-img-container{
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5%; /*margim para distanciar do nome da planta*/

}

/* esta é a classe utilizada na figura que fica atrás da imagem padrão */
.list-figure{
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-img{
    height: 100%;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.list-img:hover{
    opacity: 0;
}


.list-title{
    margin-bottom: 0px;
    margin-top: 1%;
}

/* Menu da página de Listagem */

.list-menu {
    text-align: center;
    width: 90%;
}

.list-menu td:hover
{
    background-color: limegreen;
}

/* Isto é necessário pois a tabela usa pure-table-striped */
.list-menu tr:nth-child(2n-1) td:hover {
    background-color: limegreen ;
}


/* Barra de pesquisa  */

.search-box
{

    margin-top: 2%;
}

.button-warning {
    /* talvez não seja necessária sombra no texto */
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 1%;
    border: none;
    border-radius: 4px;
    background-color: #ffa31a ;
    color: white

}

/* Rodapé */
footer {
    background-color: #4bca2e;
    color: white;
    height: 80px;
    text-align: center;
}
/* Estava ajeitando a imagem do footer */
#footer_logo {
    border-radius: 5px;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
}
