.sensor-button, .date-button, .display-button{
    color: black;

}
.sensor-button:hover, .date-button:hover, .display-button:hover {
    color: #fff;
    background-color: #2c6b3a !important;
}

.display-button-active, .date-active, .sensor-button-active, .btn-download{
    color: #fff;
    background-color: #2c6b3a !important;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

#labfito-sidebar {
  height: 32px;
  width: 36px;
}

#labfito-sidebar > span > span {
    font-size: 30px;
}